/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* Дублируем переменные для svetloj темы */
  --background-color: #fff1f7;
  --background-image: url(/images/cover-image-light.png);
  --main-text-color: #353430;
  --accent-color: #ff8dcb;
  --corner-color: #353430;
  --button-color: #353430;
  --title-color: #ffc2e6;
  --font-size: 18px;
  --rec-color: #fff1f7;
}
/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --background-image: url(/images/cover-image-light.png);
    --main-text-color: #353430;
    --accent-color: #ff8dcb;
    --corner-color: #353430;
    --title-color: #ffc2e6;
    --button-color: #353430;
    --rec-color: #fff1f7;
  }
}
