/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
* {
  /* outline: 1px solid red; */
}
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--background-color);
  background-image: var(--background-image);
  font-family: "IBM Plex Mono", sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-text-color);
  overflow: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: 60px;
  block-size: max(100vb, 668px);
  padding: 20px var(--padding);
  align-items: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 8px;
  color: var(--button-color);
}

.header__theme-menu-button {
  background-color: inherit;
  font-family: inherit;
  font-size: var(--font-size);
  padding: 0 13px;
  text-transform: lowercase;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  color: var(--button-color);
  pointer-events: none;
  border: 1px solid var(--button-color);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-border-color);
  cursor: pointer;
}
.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  align-self: start;
}

.title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 #ff0070;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  margin-block-start: 8px;
}

.about {
  color: var(--main-text-color);
  background-color: var(--accent-color);
  font-size: var(--font-sizes);
  line-height: 23.4px;
  font-weight: bold;
  margin-inline: 50% 20px;
  margin-block-start: -35px;
}

.rec {
  position: absolute;
  color: var(--rec-color);
  text-transform: uppercase;
  top: 21px;
  right: 49px;
}

.rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
}

.decorated-zone::before {
  content: " ";
  position: absolute;
  border-block-start: 1px solid var(--corner-color);
  border-inline-end: 1px solid var(--corner-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 20px;
  inset-block-start: 20px;
}

.decorated-zone::after {
  content: " ";
  position: absolute;
  border-block-end: 1px solid var(--corner-color);
  border-inline-start: 1px solid var(--corner-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 20px;
  inset-block-end: 20px;
}

.why {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--padding);
  gap: 20px;
}

.answers {
  display: grid;
  row-gap: 20px;
  grid-column: span 2;
}

.title-question {
  width: 100%;
  font-size: var(--font-size);
  color: var(--corner-color);
}

.reasons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: var(--padding);
}
.text {
  line-height: 130%;
}

.reasons-title-main {
  grid-column: span 3;
  width: calc(315 / 1024 * 100%);
}

.card-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advises {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--padding);
  gap: 20px;
}

.answers-advises {
  display: grid;
  row-gap: 20px;
  grid-column: span 2;
}

.title-answer {
  font-weight: 400;
}

.title-question-advises {
  font-size: var(--font-size);
}

.title-decor {
  color: var(--title-decor-color);
  background-color: var(--accent-color);
  font-size: var(--font-size);
}

.link-in-text {
  border: transparent;
  text-shadow: 3px 3px 0px var(--link-shadow);
  text-decoration: none;
}

.link-in-text:hover {
  text-decoration: underline;
  text-decoration-color: var(--main-text-color);
}

.link-in-text:focus {
  outline: none;
}

.link-in-text:focus-visible {
  border: 1px solid var(--main-text-color);
}

.gallery {
  display: grid;
  grid-template-areas:
    "title title title"
    "gallery-item-1 gallery-item-1 gallery-item-2"
    "gallery-item-3 gallery-item-4 gallery-item-2"
    "gallery-item-3 gallery-item-5 gallery-item-5";
  gap: 20px;
  padding: var(--padding);
}

.title-gallery {
  grid-area: title;
}

.section__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.image-item {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.gallery-item-1 {
  grid-area: gallery-item-1;
}

.gallery-item-2 {
  grid-area: gallery-item-2;
}

.gallery-item-3 {
  grid-area: gallery-item-3;
}

.gallery-item-4 {
  grid-area: gallery-item-4;
}

.gallery-item-5 {
  grid-area: gallery-item-5;
}

.footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  block-size: max(100vb, 668px);
  margin-block-start: 60px;
}

.footer-title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 2px 2px 0 #ff0070;
  color: var(--title-color);
}

@media (max-width: 768px) {
  .page {
    margin: auto;
  }
  .reasons {
    display: flex;
    flex-direction: column;
  }
  .advises {
    column-gap: 20px;
  }
  .header__theme-menu-list {
    flex-direction: column;
    margin: 175px 20px auto auto;
    gap: 10px;
  }
  .answer-item {
    display: flex;
    flex-direction: column;
  }
  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (max-width: 575px) {
  .page {
    margin: auto;
  }
  .main-content {
    row-gap: 50px;
  }

  .header {
    padding: 10px;
    margin-block-end: 40px;
  }
  .rec {
    inset-inline-end: 38px;
    inset-block-start: 10px;
  }
  .decorated-zone::before {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }
  .decorated-zone::after {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }
  .header__theme-menu-list {
    margin: 65px 0 auto auto;
  }
  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-inline-start: 0;
    line-height: 95.7px;
  }

  .about {
    padding-block-start: 0;
  }

  .why {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .reasons-title-main {
    width: 100%;
    margin-block-end: 0;
  }
  .reasons {
    padding: 0 10px;
    gap: 20px;
  }
  .reasons-article-item {
    gap: 0;
  }

  .advises {
    padding: 0 10px;
    row-gap: 20px;
  }
  .answer-item {
    gap: 10px;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-grow: 1;
    padding: 0 10px;
  }
  .title-gallery {
    width: 100%;
    margin-block-end: 0;
  }
  .about {
    margin-inline: 10px;
  }
  .advises {
    display: flex;
    flex-direction: column;
  }

  .footer {
    margin-block-start: 40px;
  }

  .footer-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
